@import 'css';

.rootContainer {
    position: relative
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.searchContainer {
    display: flex;
    width: 100%;
}

    .inputContainer {
        flex: 1 0 auto;
        margin-right: 10px; 
    }

    .inputButtonContainer {
        flex: 0 0 auto;
    }