@import 'css';

.rootContainer {
    display: flex;
    flex-direction: column;
    position: relative
}

.headerContainer,
.footerContainer {
    flex: 1 0 10%;
    padding: 0 10px;
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.searchContainer {
    display: flex;
    width: 100%;
}

    .inputContainer {
        flex: 1 0 auto;
        margin-right: 10px;
    }

    .inputButtonContainer {
        flex: 0 0 auto;
    }

.cardsContainer {
    padding: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    flex: 0 0 calc(90vh - 140px);
    margin-bottom: 20px;
}


.voteGroup {
  margin-right: 20px;
  margin-top: 4%;
}

.voteButton {
  margin-bottom: 24px;
}
