@import 'css';

.replyPanelContainer {
    @apply(--box-shadow-top);
}

.closeLoopContainer {
    @apply(--box-shadow-bottom);
}

.loopContainer {
    padding: 10px;
    overflow-y: auto;
    flex: 0 0 calc(90vh - 140px);
}