@import 'css';

.menuItem {
    color: inherit !important;
}
.menuItem:active, .menuItem:hover{
    background-color: rgba(255,255,255,.2) !important;
    border-radius: 2px;
    /* border-bottom: 2px solid #ffffff !important; */
}