@import 'css';
/* 5d93ff */
.headerBar {
  height: 4rem !important;
  background-color: #243862 !important;
  color: white !important;
  border-radius: 1px !important;
  margin: 0 !important;
}

.logo {
  color: inherit !important;
  background-color: #243862 !important;
}

.menuItem {
  color: inherit !important;
  background-color: #243862 !important;
  text-transform: capitalize !important;
}
.menuItem:before {
  background-color: #243862 !important;
}
.menuItem:active,
.menuItem:hover {
  background-color: rgba(255, 255, 255, 0.2) !important;
  border-radius: 2px;
  /* border-bottom: 2px solid #ffffff !important; */
}
