@import 'css';

.contactMeCardContentContainer {
    & * {
        margin-bottom: 8px;
    }
}

.smallDetail {
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    align-items: center;
}